/* Color pallete: http://www.colourlovers.com/palette/1827183/Lights */


/* Override Bootstrap Styles
------------------------------------------------- */

.col-md-12 {
    float: none;
    margin: 0 auto;
    max-width: 700px;
}

.jumbotron {
    background-color: rgb(67,106,87);
    /* Image source: http://www.publicdomainpictures.net/pictures/60000/velka/smoky-mountains-1379552973wwG.jpg */
    background-image: url("images/low_smoky-mountains-1379552973wwG.jpg");
    background-image: image-set(
        url("images/smoky-mountains-1379552973wwG_60q_50pc.jpg") 960w,
        url("images/low_smoky-mountains-1379552973wwG.jpg") 1920w
    );
    background-position: bottom center;
    background-size: cover;
    color: white;
    letter-spacing: 1px;
}

/* Styles
------------------------------------------------- */

.ui-widget-content a {
    color: rgb(67,106,87);
    font-weight: bold;
}

a:hover {
    color: rgb(221,234,165);
}


a:visited {
    color: rgb(129,137,100);
}

.jumbotron a {
    padding-right: 0.7em;
}

.jumbotron a:visited {
    color:white;
}

.jumbotron a:hover {
    color: rgb(221,234,165);
}

dl, li, p {
    font-size: 1.2em;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

.banner-link {
    color: white;
    text-decoration: none;
}

.ui-widget-header {
    background-color: rgb(129,137,100);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none;
    border-color: rgb(221,234,165);
}

.ui-state-active a {
    background-color: rgb(186,191,133);
}

section h2 {
    background-color: rgb(129,137,100);
    color: white;
    letter-spacing: 1px;
    padding: 6px;
}

.mirror-jumbotron {
    background-color: rgb(67,106,87);
}

.mirror-jumbotron a {
    color:white;
}

.mirror-jumbotron a:visited {
    color: white;
}

.main-content {
    padding-bottom: 1em;
}

footer.mirror-jumbotron p {
    color: white;
    display: inline-block;
    font-size: small;
    height: 38px;
    line-height: 45px;
    vertical-align: middle;
}
