/* Color pallete: http://www.colourlovers.com/palette/1827183/Lights */

:root {
    color-scheme: light dark;
}
.responsiveCal {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

dark-mode-toggle {
    position: absolute;
    top: 3.8rem;
    right: 0.5rem;
}

.dark-theme {
    color: white;
    background-color: black;
}

.dark-theme img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
}

.dark-theme img:hover {
    opacity: 1;
}

.nav-tabs .nav-link {
    border-color: #3e8ad3;
    color: #9bbccb;
    background-color: #2c4464;
}

.nav-tabs .nav-link.active {
    border-color: #3e8ad3;
    background-color: #9bbccb;
    color: #2c4464;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    background-color: #9bbccb;
    color: #2c4464;
}

.bg-dark {
    background-color: #2c4464 !important; /* override not ideal */
}

.navbar-dark .navbar-nav .nav-link {
    color: #a0cbec;
}

a.dropdown-item, a.dropdown-item:visited {
    color: #a0cbec;
}

a.dropdown-item:hover {
    background-color: #9bbccb;
    color: #2c4464;
}

dl, li, p {
    font-size: 1.2em;
}

blockquote {
    font-style: italic;
    margin-left: 2em;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

ol {
    list-style-type: decimal;
}

#photos img, #home img, #newsletters img {
    width: 100%;
    display: block;
    padding-bottom: 1em;
}

ol ol {
    list-style-type: lower-alpha;
}

footer p { /* 2 elements bump priority over one element */
    color: white;
    font-size: small;
    height: 38px;
    line-height: 45px;
    vertical-align: middle;
}

#content-for-tabs .tab-pane h2 {
    background-color: rgb(129,137,100);
    color: white;
    letter-spacing: 1px;
    padding: 6px;
}

#main-column {
    border: 1px solid #c5c5c5;
    border-radius: 0.5em;
}

ol ol ol {
    list-style-type: lower-roman;
}

/* Next lowest priority: classes  and pseudo-classes */


.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}

.col-md-12 { /* From Bootstrap */
    float: none;
    margin: 0 auto;
    max-width: 700px;
}

.jumbotron { /* From Bootstrap */
    /* Original image at http://www.publicdomainpictures.net/pictures/60000/velka/smoky-mountains-1379552973wwG.jpg
     * Darken the background image for contrast. */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url("images/low_smoky-mountains-1379552973wwG.jpg");

    /* Save bandwidth on mobile browsers IE/Firefox/Original Edge don't support thus far. */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        image-set(
            url("images/smoky-mountains-1379552973wwG_60q_50pc.jpg") 960w,
            url("images/low_smoky-mountains-1379552973wwG.jpg") 1920w
    );
    background-position: bottom center;
    background-size: cover;
    color: white;
    letter-spacing: 1px;
    padding: 4rem 1rem 1rem;
}

.dark-theme .jumbotron { /* From Bootstrap */
    /* Original image at http://www.publicdomainpictures.net/pictures/60000/velka/smoky-mountains-1379552973wwG.jpg
     * Darken the background image for contrast. */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
        url("images/low_smoky-mountains-1379552973wwG.jpg");

    /* Save bandwidth on mobile browsers IE/Firefox/Original Edge don't support thus far. */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
        image-set(
            url("images/smoky-mountains-1379552973wwG_60q_50pc.jpg") 960w,
            url("images/low_smoky-mountains-1379552973wwG.jpg") 1920w
    );
    background-position: bottom center;
    background-size: cover;
    color: white;
    letter-spacing: 1px;
    padding: 4rem 1rem 1rem;
}

.top-and-bottom {
    background-color: rgb(67,106,87);
}

.announcement {
    background-color: yellow;
    border-color: goldenrod;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 1em;
}

.tab-pane a {
    color: #723a0c;
    text-decoration: underline;
}

a:hover { /* class or pseudo-class + element */
    color: #3e8ad3
}

a:visited {
    color: #2c4464;
}

.dark-theme a:visited {
    color: lightseagreen;
}

.top-and-bottom a {
    color:white;
}

.jumbotron a {
    padding-right: 0.7em;
}

.top-and-bottom a:visited { /* 2 class/pseudoclass + element */
    color:white;
}

/* Hightest priority: id's */

#news {
    padding-top: 1rem;
}


#main-content {
    padding-bottom: 1em;
}

#announcement button {
    background-color: goldenrod;
}

#banner-links a { /* id + element */
    text-decoration: none;
}

#tabs-list li {
    font-weight: bold;
}

#tabs-list li.ui-state-active { /* id + element + class */
    background: none;
    border-color: rgb(221,234,165);
}

#banner-links a:hover {
    color: rgb(221,234,165);
}

#main-content section a { /* id + 2 elements */
    color: rgb(67,106,87);
    font-weight: bold;
}

#tabs-list li.ui-state-active a { /* id + 2 elements + class */
    background-color: rgb(186,191,133);
}
